body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-modern{
    border:solid 2px transparent;
    border-radius: 5px;
    background-color: aquamarine;
    cursor: pointer;
    transition: trasnform 0.4s;
    font-size: 1.25rem;

    
}

.btn-modern:hover{
    background-color: brown;
    color: antiquewhite;
    
    transform: translateY(-5px);

}

